@{
   ViewData["Title"] = "Home Page";
}

<div class="text-center p-4">
   <h1 class="display-4">Welcome to PassLock!</h1>
   <p>Learn about how you can contribute to <a href="https://docs.microsoft.com/aspnet/core">PassLock</a>.</p>
</div>
